body {
    background: rgb(186, 73, 73);
    font-family: "Arial Rounded", Arial, sans-serif;
}

.heading {
    text-align: left;
    color: #ffffff;
    font-family: "Arial Rounded", Arial, sans-serif;
}

.header {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.row {
    width: 100%;
    padding-top: 2em 0 0 0;
}

#minutes, #colon, #seconds {
    font-size: 70px;
    font-weight: 500;
    padding: 0.5em 0 0 0;
}

.timer {
    color: #ffffff;
    text-align: -webkit-center;
    width: 30em;
    height: 20em;
    border-radius: 3%;
    background: rgb(200, 85, 85);
}

.timerBtns {
    padding: 0.5em 0 0.5em 0;
}

.sessionDetails {
    color: #fff;
    text-align: center;
    padding: 1.5em 0 0 0;
}

.refresh {
    color: #fff;
    text-align: center;
    margin: 0 0 0 1em;
}

.btn {
    font-family: "Arial Rounded", Arial, sans-serif;
    color: rgb(186, 73, 73);
    background-color: #ffffff;
    padding: 0;
    display: block;
    padding: 0.5em 1em 0.5em 1em;
    font-size: 2em;
    border-radius: 5px;
}

.studyBtn, .shortBrkBtn,  .longBrkBtn, .reportBtn {
    color: #fff;
    font-size: 20px;
    display: inline-flex;
    flex-wrap: wrap;
    text-align: center;
    background: rgb(200, 85, 85);
    cursor: pointer;
    padding: 1em 1em 1em 1em;
}

.show_message {
    display: block;
    padding: 1rem 0;
    color: rgb(186, 73, 73);
    background: #ffffff;
    border-radius: 0.5rem;
    transition: 0.5s ease;
}

.summary-stats .stat {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
}

.summary-stats .stat i {
    font-size: 2rem;
    color: #6c757d;
    margin-bottom: 5px;
}

.summary-stats .stat h3 {
    font-size: 1.5rem;
}

.summary-stats .stat p {
    font-size: 1rem;
    color: #6c757d;
}
